$labelcolor: rgba(15, 61, 88, 0.1);
$doric: rgba(156, 49, 16, 0.05);
$ionic: rgba(16, 72, 156, 0.05);
$corinthian: rgba(16, 156, 58, 0.05);

$redtrans: rgba(156, 49, 16, 0.05);
$bluetrans: rgba(16, 72, 156, 0.05);
$greentrans: rgba(16, 156, 58, 0.05);
$welcome: rgba(156, 16, 126, 0.05);
$headerfooter: #58585841;
$ahover: #58585856;
$mainwidth: 90%;
$gridmargin: 2.5rem;
$mobilegridmargin: 0.5rem;
$descriptiondecor: linear-gradient(
  to right,
  rgb(0, 255, 0),
  rgb(0, 0, 255),
  rgb(255, 0, 0)
);
