$labelcolor: rgba(15, 61, 88, 0.3);
$redtrans: rgba(156, 49, 16, 0.05);
$bluetrans: rgba(16, 72, 156, 0.05);
$greentrans: rgba(16, 156, 58, 0.05);
$welcome: rgba(156, 16, 126, 0.05);
$mainwidth: 85%;
$gridmargin: 2.5rem;
$mobilegridmargin: 0.5rem;
* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Roboto Slab", serif;
}
hr {
  width: 40%;
  margin: 2rem auto;
}
.sidelabel {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 260px;
  width: 60px;
  background-color: $labelcolor;
}
#menubar {
  width: $mainwidth;
  margin: auto;
  font-size: 0; /* hack to get rid of whitespace text node */
  list-style-type: none;

  #mbcontainer {
    display: block;
    a {
      display: inline-block;
      padding: 0.9rem;
      margin: 0 0 0 1px;
      background-color: #eeeeee;
      font-size: initial;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
    }
    a:hover {
      background-color: #cccccc;
    }
  }
}

#announce {
  width: $mainwidth;
  margin: auto;
  padding: 1rem;

  #preface {
    font-size: 4rem;
    font-weight: 300;
    display: inline-block;
  }
}

#welcome {
  width: $mainwidth;
  background-color: $welcome;
  margin: 6rem auto 2px auto;
  padding: 1rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  overflow: auto;

  #dropcap {
    font-size: 400%;
    float: left;
    font-weight: 300;
    line-height: 90%;
    padding: 0 1rem 0 0;
    color: $labelcolor;
  }

  #boldme {
    font-weight: 400;
  }
}
.main-block-red,
.main-block-blue,
.main-block-green {
  width: $mainwidth;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}
.main-block-red {
  background-color: $redtrans;
}
.main-block-blue {
  background-color: $bluetrans;
}
.main-block-green {
  background-color: $greentrans;
}
.description {
  font-weight: 300;
  line-height: 1.7rem;
  font-size: 1rem;
  padding: 0;
  margin: $gridmargin;

  .paragraph-header {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
  }
}

.figure {
  text-align: center;

  figure {
    margin: $gridmargin;
    padding: 0;
  }
  figcaption {
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: rgba(131, 20, 20, 0.925);
    font-weight: 400;
  }
  img {
    max-width: 100%;
    max-height: 650px;
  }
}

.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
@media screen and (max-width: 768px) {
  .sidelabel {
    width: 40px;
    height: 200px;
  }
  #announce {
    #preface {
      font-size: 2.5rem;
    }
  }
  #welcome {
    font-size: 1.2rem;
    line-height: normal;
    #dropcap {
      font-size: 200%;
      padding: 5px;
    }
  }
  .main-block-red,
  .main-block-blue,
  .main-block-green {
    grid-template-columns: 1fr;
  }
  .left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .right {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .description {
    margin: $mobilegridmargin;
  }
  .figure {
    figure {
      margin: $mobilegridmargin;
    }
  }
}
@media (max-width: 600px) {
  #menubar {
    #mbcontainer {
      float: none;
      a {
        display: block;
        text-align: center;
        margin: 0 0 1px 0;
      }
    }
  }
  .sidelabel {
    display: none;
  }
  #announce {
    text-align: center;
  }
  .main-block-red,
  .main-block-blue,
  .main-block-green,
  #menubar,
  #welcome {
    width: 98%;
  }
  #welcome {
    margin: 1rem auto 2px auto;
  }
}
